<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>

<body>
    <h1>Add A Product</h1>
    <form action="/product" method="POST">
        <label>Name
        <input type="text" name="name" placeholder="Product Name">
        </label>cate
        <label>Price
            <input type="number" name="price" placeholder="Product price">
            </label>
            <label>category
                <select name="cateogary" id="t">
                    <option value="fruit">fruit</option>
                    <option value="vegetable">vegetable</option>
                    <option value="dairy">dairy</option>
                </select>
                </label>
<button>submit</button>
    </form>
</body>

</html>